@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Code:wght@300..700&display=swap');

body {
    margin: 30px;
    font-family: "Figtree", sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

span.small {
    font-size: 0.9em;
}

h2 {
    margin-bottom: 0;
}

pre {
    margin: 20px 50px;
    font-size: 0.9em;
}

code {
    margin: 0 2px;
    font-size: 0.9em;
}
